@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

/* Displays the background for the webpage */
.App{
    width: 100vw;
    height: 125vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(135deg, #332f35, #1e1b1f);
}

body {
    padding: 0;
    margin: 0;
}
