
h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    padding-left: 15%;
    padding-right: 15%;

}

button {
    width: 250px;
    height: 30px;
    font-size: 22px;
  }
  

.arrowForwardIosIcon {
    margin-left: 0cm;
    height: 100px;
    font-size:100px;    
    transform:scale(3);
    margin-right: 20px;
    width: 100px;
}