
h2{
    font-size: 40px;
}

h3{

    font-size: 30px;
    padding-left: 15%;
    padding-right: 15%;

}

button {
    width: 250px;
    height: 30px;
    font-size: 22px;
  }
  

.child {
    display: inline-block;
    vertical-align: middle;
  }

.parent { 
    display: grid; 
    grid-template-columns:60px 350px 1fr 60px; 
    grid-gap: 30px; 
    width: 95%; 
} 



.arrowLeft {
    margin-top: 25vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    cursor: pointer;

  }

.arrowRight {
    margin-top: 25vh;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    cursor: pointer;

}

  
  .poster {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
    
  .summary {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
    
  .rating {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }